trigger:
  - master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
  - script: |
      npm install
    displayName: 'npm install'
  - script: |
      sudo npm install -g snyk
      sudo snyk auth $(SNYK_TOKEN)
    displayName: 'install snyk'
  - script: |
      sudo snyk code test --severity-threshold=high
    displayName: 'snyk SAST'